@use "./variables" as *;
@use "./typography" as *;

footer{
    height: 5vh;
    background-color: $rich-black;
    color: white;
    font-family: $baseFont;
    font-size: .8rem;
    position: fixed;
    bottom: 0;
    width: 100vw;

    .wrapper{
        height: 100%;
        display: flex;
        justify-content: center ;
        align-items: center;
        a{
            color: white;
        }
    }

}
