@use "./variables" as *;
@use "./typography";

header {
    background-color: $bgColor;
    height: 44vh;
    .wrapper {
        padding: 10% 0 25% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 3em;
    }
    span{
        color: $accent;
        font-family: $secondaryFont;
        font-size: .5em;
    }
    
}
