@use "./variables" as *;

main{
    min-height: 50vh;
    background-color: $bgColor;
    color: $baseFontColor;
    font-family: $baseFont;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}
fieldset{
    border:none;
    text-align: center;
    width: 100%;
    gap:20px;
    h2{
        margin-bottom: 20px;
    } 
    checkbox{
        border: 2px solid $accent;
    }
}
button{
    background-color: $bgColor;
    border: 2px solid $accent;
    color: $baseFontColor;
    padding:5px 20px;
    &:hover{
   
        transition: .5s;
        transform: scale(1.15);
    }
}
#numOfWorkouts{
    width: 50%;
    height: 2rem;
}


