$bgColor: #8F1C1C;
$secondaryBgColor: #004D28;
$baseFontColor: white;
$baseFont:'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
$accent:#00FF84;

$brand-orange: #ff4e00;
$brand-yellow: #ffc914;
$grey: #393d3f;
$rich-black: #000411;
$white: #f4faff;